html, body, main {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 2, 122);
}

#ham-menu {
    position: fixed;
    top: 3%; right: 2%;
    height: 40px;
    z-index: 9999;
    filter: invert();
    transition: ease .2;
}
.off-screen-menu {
    position: absolute;
    width: 17vw;
    height: 100vh;
    right: 0px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.273);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 1rem;
    transition-timing-function: .3s ease;
    transform: translateX(450px);
}

.nav-item.active {
  background-color: rgb(28, 8, 74);
}

.off-screen-menu ul li a {
    color: white;
    text-decoration: none;
    display:block;
}

.off-screen-menu ul {
    display: flex;
    flex-direction: column;
    width: 85%;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 1vh;
}

#ham-menu:hover {
    transform: scale(1.1);
    transition: ease .2s;
}

.off-screen-menu ul li {
    display: block;
    list-style-type: none;
    padding: 3vh;
    width: 100%; 
}

.off-screen-menu ul li:hover {
    background-color: rgb(255, 0, 102);
}


#abtmevid {
    position: absolute;
    z-index: 0;
    mix-blend-mode: hard-light;
}

@media (min-aspect-ratio: 16/9) {
    #abtmevid {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #abtmevid {
        width: auto;
        height: 100%;
    }
}


header {
    position: absolute;
    padding-top: 25px;
    width: 100%;
    display:flex;
    justify-content: center;
    z-index: 999;
}
.navBarContainer {
    display:flex;
    width: 100%;
    top: 25px;
    justify-content: center;
    z-index: 999;
}


.navBar {
    background-color: rgba(255, 255, 255, 0.176);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 5px hsla(321, 100%, 56%, 0.322);
}

.navBar ul {
    padding-right: 27px;
    padding-left: 27px;
}

.navBar ul li {
    display: inline;

}

#ProjectsBtn:hover {
    border: solid 1px rgb(255, 255, 255);
    transition: ease-in-out;
}

#PassionsBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#ConnectBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}


#HomeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#AboutMeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

.navBar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";

    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    border-radius: 30px;
}

.AboutMeSection {
    background-color: rgb(35, 29, 82);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    box-shadow: 0 0 15px black;
    z-index: 3;
}

.abContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 45%;
    gap: 8vw;
    z-index: 3;
    backdrop-filter: blur(20px);
    background-color: rgba(49, 1, 28, 0.438);
    border-radius: 100px;
    border: white solid 5px;
    padding: 3vw;
    box-shadow: 0 0 5px white;
}

.abtextContainer {
    width: 100%;
    z-index: 3;
}

#abTitle {
    position:relative;
    right: 50px;
    text-align: left;
    font-size: 25px;
    color: rgb(255, 211, 50);
    word-spacing: 5px;
    letter-spacing: 3px; 
    text-shadow: 2px 2px 7px rgba(255, 204, 50, 0.804);
}

.abContainer p {
    color: white;
    position: relative;
    font-size: 15px;
    text-align: left;
    letter-spacing: .8px;
    line-height: 1.5;
    z-index: 3;
}

#HiSpan {
    color: rgb(255, 160, 27)
}

#me {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: rgb(255, 255, 255) solid 4px;
    z-index: 3;
    margin: 1vw;
    box-shadow: 0 0 10px rgb(77, 0, 29);
}

.greenspan {
    color:rgb(141, 255, 47);
        font-weight: bold;
}

.yellowspan {
    color: rgb(255, 220, 62);
        font-weight: bold;
}

.pinkspan {
    color: rgb(255, 53, 97);
    font-weight: bold;
}

hr {
    width: 95%;
}

.clangsContainer {
    display: flex;
    flex-direction: column;
        gap: 10px;  
}

.clangs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
