html, body, main {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 2, 122);
    overflow-x: hidden;
    overflow-y: hidden;
}

#ham-menu {
    position: fixed;
    top: 3%; right: 2%;
    height: 40px;
    z-index: 9999;
    filter: invert();
    transition: ease .2;
}
.off-screen-menu {
    position: absolute;
    width: 17vw;
    height: 100vh;
    right: 0px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.273);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 1rem;
    transition-timing-function: .3s ease;
    transform: translateX(450px);
}

.nav-item.active {
  background-color: rgb(28, 8, 74);
  
}

.off-screen-menu ul li a {
    color: white;
    text-decoration: none;
    display:block;
}

.off-screen-menu ul {
    display: flex;
    flex-direction: column;
    width: 85%;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 1vh;
}

.off-screen-menu ul li {
    display: block;
    list-style-type: none;
    padding: 3vh;
    width: 100%; 
}

#ham-menu:hover {
    transform: scale(1.1);
    transition: ease .2s;
}

.off-screen-menu ul li:hover {
    background-color: rgb(255, 0, 102);
}


#github:hover {
    transform: scale(1.1);
    transition: ease 0.3s;
}

#phone:hover {
    transform: scale(1.1);
    transition: ease 0.3s;

}

.ConnectPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;   
}

.center {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: solid white 3px;
    width: 50vw;
    height: 70vh;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.FormTitle {
    color: rgb(119, 255, 216);                                                       
    font-weight: bolder;
    font-size: 32px;
    border-radius: 30px;
    margin-bottom: 3vh;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 80%;
}

.form input {
    color:rgb(255, 255, 255);
    font: "Roboto";
    font-size: 12px;
    width: 70%;
    height: 8%;
    border: solid white 1px;
    background-color: #00000043;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 5px;
    padding-left: 24px;
}

button:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}


.form textarea {
    color:rgb(255, 255, 255);
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid white 1px;
    border-radius: 30px;    
    background-color: #00000043;
    backdrop-filter: blur(8px);
    width: 70%;
    height: 200px;
    padding-left: 24px;
    padding-top: 20px;
}

input:focus, textarea:focus {
  outline: white 3px solid;
}

input::placeholder, textarea::placeholder{
    color: rgb(255, 255, 255);
}

input:focus::placeholder, textarea:focus::placeholder{
    color: transparent;
}

.socialIcons {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 15px;
}

.socialIcons img {
    border-radius: 40px;
    padding: 3px;
    border: solid 2px rgb(232, 46, 157);
    height: 45px; 
    width: 45px;
}

.socialIcons button {
    width: 160px;
    height: 50px;
    font-weight: bolder;
    font-family: "Roboto";
    font-size: 16px;
    background-color: rgb(251, 132, 58);
    border-radius: 20px;
    border: rgb(255, 174, 133)solid 5px;
    box-shadow: 0 0 10px 3px #ffde7095;
    color: rgb(255, 232, 141);
    text-shadow: 0px 0px 2px yellow;
    letter-spacing: 1px;
    z-index: 1;
}



#connectBackground {
    position: absolute;
    z-index: 0;
    mix-blend-mode: hard-light;
}

@media (min-aspect-ratio: 16/9) {
    #connectBackground {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #connectBackground {
        width: auto;
        height: 100%;
    }
}

.center {
    display: flex;
    
}

header {
    position: sticky;
    padding-top: 25px;
    width: 100%;
    position: absolute;
    display:flex;
    justify-content: center;
}
.navBarContainer {
    display:flex;
    width: 100%;
    top: 25px;
    justify-content: center;
    z-index: 999;
}


.navBar {
    background-color: rgba(255, 255, 255, 0.241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    backdrop-filter: blur(15px);
}

.navBar ul {
    padding-right: 27px;
    padding-left: 27px;
}

.navBar ul li {
    display: inline;

}
#ProjectsBtn:hover {
    border: solid 1px rgb(255, 255, 255);
    transition: ease-in-out;
}

#PassionsBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#ConnectBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}


#HomeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#AboutMeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

.navBar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";

    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    border-radius: 30px;
}