html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 2, 122);
    z-index: -10;
    overflow-x: hidden;
    overflow-y :hidden;
}


#ham-menu {
    position: fixed;
    top: 3%; right: 2%;
    height: 40px;
    z-index: 9999;
    filter: invert();
    transition: ease .2;
}
.off-screen-menu {
    position: absolute;
    width: 17vw;
    height: 100vh;
    right: 0px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.273);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 1rem;
    transition-timing-function: .3s ease;
    transform: translateX(450px);
}

.nav-item.active {
  background-color: rgb(28, 8, 74);
}


.off-screen-menu ul li a {
    color: white;
    text-decoration: none;
    display:block;
}

.off-screen-menu ul {
    display: flex;
    flex-direction: column;
    width: 85%;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 1vh;
}

.off-screen-menu ul li {
    display: block;
    list-style-type: none;
    padding: 3vh;
    width: 100%;
}


#ham-menu:hover {
    transform: scale(1.1);
    transition: ease .2s;
}

.off-screen-menu ul li:hover {
    background-color: rgb(255, 0, 102);
}

header {
    position: absolute;
    padding-top: 25px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


#videoBackground {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 25px 25px rgba(62, 11, 202, 0.229);
    z-index: 0;
    filter: brightness(.9) contrast(1.3) saturate(1.7) hue-rotate(15deg);
}

@media (min-aspect-ratio: 16/9) {
    #videoBackground {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBackground {
        width: auto;
        height: 100%;
    }
}

.homeTitleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 100px;
    z-index: 1;
}

#exploreButton {
    display: block;
    font-weight: bolder;
    font-family: "Roboto";
    font-size: 14px;
    background-color: rgb(207, 87, 83);
    height: 45px;
    width: 160px;
    border-radius: 20px;
    border: rgb(217, 95, 34)solid 4px;
    box-shadow: 0 0 10px 3px rgba(255, 206, 145, 0.584);
    text-decoration: none;
}

#exploreButton p {
    color: rgb(255, 232, 141);
    text-decoration: none;
    text-shadow: 0px 0px 2px yellow;
    letter-spacing: 2px;
    text-align: center;
}

#exploreButton:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.heroContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.navBarContainer {
    display: flex;
    position: sticky;
    top: 25px;
    justify-content: center;
    z-index: 999;
}


.navBar {
    background-color: rgba(72, 39, 60, 0.241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: solid 1px rgba(139, 0, 177, 0.202);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px 1px #ff7c5452;
}

.navBar ul {
    padding-right: 27px;
    padding-left: 27px;
}

.navBar ul li {
    display: inline;

}

#ProjectsBtn:hover {
    border: solid 1px rgb(255, 255, 255);
    transition: ease-in-out;
}

#PassionsBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#ConnectBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}


#HomeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#AboutMeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

.navBar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    border-radius: 30px;
}

#introTitle {
    color: white;
    font-size: 39px;
    font-weight: bolder;
    text-align: center;
    border-radius: 100px;
    text-shadow: 0px 0px 15px rgba(255, 163, 4, 0.847);
}