html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(201, 35, 65);
    overflow-x: hidden;
    background-image: url(../images/passionbg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; 
}

body::-webkit-scrollbar {
  display: none; 
}

#ham-menu {
    position: fixed;
    top: 3%; right: 2%;
    height: 40px;
    z-index: 9999;
    filter: invert();
    transition: ease .2;
}

#ham-menu:hover {
    transform: scale(1.1) !important; 
    transition: ease .2s;
}
.off-screen-menu {
    position: absolute;
    width: 17vw;
    height: 100vh;
    right: 0px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.273);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 1rem;
    transition-timing-function: .3s ease;
    transform: translateX(450px);
}


.off-screen-menu ul li a {
    color: white;
    display:block;
    text-decoration: none;
}


.nav-item.active {
  background-color: rgb(28, 8, 74);
}
.off-screen-menu ul {
    display: flex;
    flex-direction: column;
    width: 85%;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 1vh;
}

.off-screen-menu ul li {
    display: block;
    list-style-type: none;
    padding: 3vh;
    width: 100%; 
}

.off-screen-menu ul li:hover {
    background-color: rgb(255, 0, 102);
}


header {
    position: absolute;
    padding-top: 25px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.navBarContainer {
    display:flex;
    top: 25px;
    justify-content: center;
    z-index: 999;
}


.navBar {
    background-color: rgba(72, 39, 60, 0.241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: solid 1px rgb(164, 54, 81);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px 1px #ff004c85;
}

.navBar ul {
    padding-right: 27px;
    padding-left: 27px;
}

.navBar ul li {
    display: inline;

}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.7;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.PassionsContent img {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#ivid1, #roboticVideo {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.Robotics {
    margin: 8vh 2vw;
    border-radius: 3vw;
    box-shadow: 0 0 50px black;
    padding: 3vh;
}

.Tennis {
    margin: 8vh 2vw;
    border-radius: 3vw;
    box-shadow: 0 0 50px black;
    padding: 3vh;  
}

.InteractClub {
    margin: 8vh 2vw;
    border-radius: 3vw;
    box-shadow: 0 0 50px black;
    padding: 3vh;
    display: flex;
    flex-direction: column;

}

.Nextech {
    margin: 8vh 2vw;
    border-radius: 3vw;
    box-shadow: 0 0 50px black;
    padding: 3vh;
}

.Band {
    margin: 8vh 2vw;
    border-radius: 3vw;
    box-shadow: 0 0 50px black;
    padding: 3vh;
}


.Robotics h2 {
    font-family: "Caveat";
    text-align: left;
    font-size: 6em;
    color: rgb(104, 91, 255);
    text-shadow: 0 0 15px rgb(0, 30, 255);
    z-index: 1;
    margin: 0;
    margin-bottom: 3vh;
}


.InteractClub h2 {
    font-family: "Caveat";
    text-align: center;
    font-size: 5em;
    color: rgb(255, 200, 0);
    text-shadow: 0 0 15px rgb(255, 247, 0);
    z-index: 1;
    margin: 0;
    margin-bottom: 5vh;
}

.Nextech h2 {
    font-family: "Caveat";
    text-align: center;
    font-size: 5em;
    color: rgb(255, 0, 242);
    text-shadow: 0 0 15px rgb(255, 70, 116);
    z-index: 1;
    margin: 0;
    margin-bottom: 5vh;
}

.Band h2 {
    font-family: "Caveat";
    text-align: center;
    font-size: 4em;
    color: rgb(119, 0, 255);
    text-shadow: 0 0 5px rgb(255, 255, 0);
    z-index: 1;
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 5vh;  
}

#pres {
    color: rgb(195, 255, 0);
}

.Row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
        z-index: 1;
}



.Row1 img {
    border: solid 5px rgb(180, 180, 255);
    border-radius: 2vw;
    z-index: 1;
    box-shadow: 0 10px 30px black;
}

.Row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    z-index: 1;
}

#r1 {
    box-shadow: none;
}

#roboticVideo {
    border: solid 5px rgb(72, 72, 255);
    border-radius: 2vw;
    box-shadow: 0 0 70px rgb(9, 0, 47);
    z-index: 1;
}

.roboticTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vh;
    gap: 35vw;
    z-index: 1;

}

#img234 {
        z-index: 1;
}

.Tennis h2 {
    font-family: "Caveat";
    text-align: center;
    font-size: 6em;
    color: rgb(118, 255, 91);
    text-shadow: 0 0 15px rgb(255, 249, 85);
    z-index: 1;
    margin: 0;
    margin-bottom: 10vh;  
}

.tRow1 {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.tRow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

.tRow1 img {
    border: solid 5px rgb(180, 180, 255);
    border-radius: 2vw;
    z-index: 1;
}

.tRow2 img {
    border: solid 5px rgb(180, 180, 255);
    border-radius: 2vw;
        box-shadow: 0 0 30px rgb(0, 0, 0);
            z-index: 1;
}

hr {
    width: 95vw;
        z-index: 1;

}

#passionsHero {
    position: absolute;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    filter: brightness(.9) contrast(1.1) saturate(1.5);
}

.PassionsTitle {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position:relative;
}

.PassionsTitle h1 {
    z-index: inherit;
    color: white;
    font-family: "Caveat";
    font-size: 5vw;
    letter-spacing: .8vw;
    font-style: italic;
    margin-bottom: 24vh;
}

#PassionsScroll {
    height: 5vw;
    width: 5vw;
    z-index: 2;
    position: relative;
    top: 10vh;
    filter: invert();
}

#PassionsScrollUp {
    height: 5vw;
    width: 5vw;
    z-index: 2;
    position: relative;
    filter: invert();
    rotate: 180deg;
}

.footer {
    margin: 0;
    padding: 0;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-aspect-ratio: 16/9) {
    #passionsHero {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #passionsHero {
        width: auto;
        height: 100%;
    }
}

#ProjectsBtn:hover {
    border: solid 1px rgb(255, 255, 255);
    transition: ease-in-out;
}

#PassionsBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#ConnectBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}


#HomeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}

#AboutMeBtn:hover {
    transition: ease-in-out .5s;
    border: solid 1px rgb(255, 255, 255);
}
.navBar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    -webkit-text-stroke: black 0.1px;
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    border-radius: 30px;
}

.icolumn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

#iimg1 {
    width: 25vw;
    border-radius: 20px;
    border: solid 5px rgb(255, 123, 0);
    box-shadow: 0 0 50px black;

}
#iimg2 {
    width: 14vw;
    border-radius: 100%;
    border: solid 5px rgb(255, 123, 0);
    box-shadow: 0 0 50px black; 

}

#ivid1 {
    width: 20vw;
    border-radius: 20px;
    border: solid 5px rgb(255, 123, 0);
    box-shadow: 0 0 50px black;

}

.icContent {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.nRow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

#NexImgLeft {
    margin-bottom: 15vh;
    transform: rotate(-20deg);
    border-radius: 20px;
    border: solid 5px rgb(255, 170, 0);
    box-shadow: 0 0 50px black;
}

#NexImgMid {
    border-radius: 20px;
    border: solid 5px rgb(255, 170, 0);
    box-shadow: 0 0 50px black;
}

#NexImgRight {
    margin-bottom: 15vh;
    transform: rotate(20deg);
    border-radius: 20px;
    border: solid 5px rgb(255, 170, 0);
}

.nRow2 {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.nRow2 img {
    border-radius: 20px;
    border: solid 5px rgb(255, 170, 0);
    box-shadow: 0 0 50px black;
}

.mbRow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-bottom: 8vh;
}

.mbRow2 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.mbRow1 img {
    border: solid 5px rgb(59, 52, 255);
    border-radius: 2vw;
    box-shadow: 0 0 25px black;
    z-index: 1;
    
}

.mbRow2 img {
    border: solid 5px rgb(59, 52, 255);
    border-radius: 2vw;
    z-index: 1;
        box-shadow: 0 0 50px black;

}

img:hover {
    transform: scale(1.05);
    transition: ease .5s;
}