body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(201, 35, 65);
    overflow-x: hidden;
}

#passionsBg {
    position: absolute;
    z-index: 0;
    width: 100vw;
    filter: saturate(1) hue-rotate(-3deg);
}

.Robotics {
    box-shadow: 0 0 30px black;
}

.Robotics h2 {
    font-family: "Caveat";
    text-align: left;
    font-size: 10em;
    color: rgb(104, 91, 255);
    text-shadow: 0 0 15px rgb(0, 30, 255);
    z-index: 1;
}

.Row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
        z-index: 1;
}

.Row1 img {
    border: solid 5px rgb(180, 180, 255);
    border-radius: 2vw;
        box-shadow: 0 0 30px rgb(0, 0, 0);
            z-index: 1;
}

.Row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}

#roboticVideo {
    border: solid 5px rgb(72, 72, 255);
    border-radius: 2vw;
    box-shadow: 0 0 70px rgb(9, 0, 47);

}

.roboticTitle {
    display: flex;
    justify-content: center;
    gap: 35vw;
}

#img234 {
    position: relative;
    top: 250px;
    right: 400px;
}
hr {
    width: 95vw;
}
header {
    position: absolute;
    padding-top: 25px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#passionsHero {
    position: absolute;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    filter: brightness(.9) contrast(1.1) saturate(1.5);
}

.PassionsTitle {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position:relative;
}

.PassionsTitle h1 {
    z-index: inherit;
    color: white;
    font-family: "Caveat";
    font-size: 5vw;
    letter-spacing: .8vw;
    font-style: italic;
    margin-bottom: 24vh;
}

#PassionsScroll {
    height: 5vw;
    width: 5vw;
    z-index: 2;
    position: relative;
    top: 10vh;
    filter: invert();


}
@media (min-aspect-ratio: 16/9) {
    #passionsHero {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #passionsHero {
        width: auto;
        height: 100%;
    }
}

.navBarContainer {
    display:flex;
    position: sticky;
    top: 25px;
    justify-content: center;
    z-index: 999;
}


.navBar {
    background-color: rgba(72, 39, 60, 0.241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: solid 1px rgb(217, 34, 80);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px 5px #ff004c85;
}

.navBar ul {
    padding-right: 27px;
    padding-left: 27px;
}

.navBar ul li {
    display: inline;

}

#ProjectsBtn:hover {
    background-color: rgb(28, 8, 74);
    transition: ease-in-out .5s;
}

#PassionsBtn:hover {
    transition: ease-in-out .5s;
    background-color: rgb(28, 8, 74);
}

#ConnectBtn:hover {
    transition: ease-in-out .5s;
    background-color: rgb(28, 8, 74);
}

#SkillsBtn {
    padding: 12px 31px;
}

#SkillsBtn:hover {
    transition: ease-in-out .5s;
    background-color: rgb(28, 8, 74);
}

#AboutMeBtn:hover {
    transition: ease-in-out .5s;
    background-color: rgb(28, 8, 74);
}

.navBar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto";
    -webkit-text-stroke: black 0.1px;
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    border-radius: 30px;
}

